<div>
  <div class="form-container">
    <div class="form-group">
      <label for="existing-connections">Existing Connections</label>
      <select
        id="existing-connections"
        (change)="handleSelectConnection($event)"
        class="form-control"
        [(ngModel)]="selectedConnectionId"
      >
        <option disabled selected>-- Select Connection --</option>
        <option *ngFor="let connection of connections" [value]="connection.id">
          {{ connection.connectionName }}
        </option>
      </select>
    </div>
  </div>
</div>
<hr />
<div>
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Teradata</a>
      <ng-template ngbNavContent>
        <div class="form-container">
          <div class="form-group">
            <label for="connection-name">Connection name</label>
            <input
              class="form-control"
              [(ngModel)]="teraData.connectionName"
              type="text"
              id="connection-name"
            />
          </div>
          <div class="form-group">
            <label for="server">Server</label>
            <input
              class="form-control"
              [(ngModel)]="teraData.server"
              type="text"
              id="server"
            />
          </div>
          <div class="form-group">
            <label for="database">Database</label>
            <input
              class="form-control"
              [(ngModel)]="teraData.database"
              type="text"
              id="database"
            />
          </div>
          <div class="form-group">
            <label for="userName">Username</label>
            <input
              class="form-control"
              [(ngModel)]="teraData.userName"
              type="text"
              id="userName"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              [(ngModel)]="teraData.password"
              type="password"
              id="passowrd"
            />
          </div>
          <div class="form-group">
            <label for="authentication-type">Authentication</label>
            <select
              class="form-control"
              [(ngModel)]="teraData.authentication"
              id="authentication-type"
            >
              <option disabled selected value="">
                -- Select Authentication --
              </option>
              <option *ngFor="let type of authenticationTypes" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>
          <div class="text-right">
            <!-- <button class="btn btn-outline-danger mr-2" (click)="cancel()">
              <i class="fa fa-times" aria-hidden="true"></i> Cancel
            </button> -->
            <button
              (click)="handleSave()"
              class="btn btn-success mr-2"
              [disabled]="isLoading"
              (click)="handleCreateTera()"
            >
              <app-spinner *ngIf="isLoading"></app-spinner>
              <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
            </button>
            <button class="btn btn-primary mr-2" [disabled]="isLoading">
              <app-spinner *ngIf="isLoading"></app-spinner>
              <i class="fa fa-plug" aria-hidden="true"></i> Test
            </button>
            <button
              *ngIf="selectedConnectionId && teraData.connectionName"
              class="btn btn-danger"
              (click)="handleDelete('tera')"
              [disabled]="isLoading"
            >
              <app-spinner *ngIf="isLoading"></app-spinner>
              <i class="fa fa-trash" aria-hidden="true"></i> Delete
            </button>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Snowflake</a>
      <ng-template ngbNavContent>
        <div class="form-container">
          <div class="form-group">
            <label for="connection-name">Connection name</label>
            <input
              class="form-control"
              [(ngModel)]="snowFlake.connectionName"
              type="text"
              id="connection-name"
            />
          </div>
          <div class="form-group">
            <label for="server">Server</label>
            <input
              class="form-control"
              [(ngModel)]="snowFlake.server"
              type="text"
              id="server"
            />
          </div>
          <div class="form-group">
            <label for="database">Database</label>
            <input
              class="form-control"
              [(ngModel)]="snowFlake.database"
              type="text"
              id="database"
            />
          </div>
          <div class="form-group">
            <label for="userName">Username</label>
            <input
              class="form-control"
              [(ngModel)]="snowFlake.userName"
              type="text"
              id="userName"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              [(ngModel)]="snowFlake.password"
              type="password"
              id="passowrd"
            />
          </div>
          <div class="form-group">
            <label for="authentication-type">Authentication</label>
            <select
              class="form-control"
              [(ngModel)]="snowFlake.authentication"
              id="authentication-type"
            >
              <option disabled selected value="">
                -- Select Authentication --
              </option>
              <option *ngFor="let type of authenticationTypes" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="schemaName">Schema name</label>
            <input
              class="form-control"
              [(ngModel)]="snowFlake.schemaName"
              type="text"
              id="schemaName"
            />
          </div>
          <div class="form-group">
            <label for="dwh">Compute DWH</label>
            <input
              class="form-control"
              [(ngModel)]="snowFlake.dwh"
              type="text"
              id="dwh"
            />
          </div>
          <div class="text-right">
            <!-- <button class="btn btn-outline-danger mr-2" (click)="cancel()">
              <i class="fa fa-times" aria-hidden="true"></i> Cancel
            </button> -->
            <button
              (click)="handleSave()"
              [disabled]="isLoading"
              class="btn btn-success mr-2"
              (click)="handleCreateFlake()"
            >
              <app-spinner *ngIf="isLoading"></app-spinner>
              <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
            </button>
            <button [disabled]="isLoading" class="btn btn-primary mr-2">
              <app-spinner *ngIf="isLoading"></app-spinner>
              <i class="fa fa-plug" aria-hidden="true"></i> Test
            </button>
            <button
              [disabled]="isLoading"
              *ngIf="selectedConnectionId && snowFlake.connectionName"
              class="btn btn-danger"
              (click)="handleDelete('flake')"
            >
              <app-spinner *ngIf="isLoading"></app-spinner>
              <i class="fa fa-trash" aria-hidden="true"></i> Delete
            </button>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
