.container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    font-size: 2em;
    cursor: pointer;
    outline: none;
    transform: rotate(90deg);
    display: inline-block;
    margin-left: 2rem;
}