.main-container {
    display: flex;
    gap: 1rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    flex-wrap: wrap;
}

.sidebar {
    padding-right: 1rem;
    flex: 1;
    padding-left: 1rem;
    border: 1px solid lightgray;
    min-height: calc(100vh - 5rem);
    padding-top: 2rem;
    border-radius: 0.5rem;
    @media (min-width: 768px) {
        max-width: 20rem;
    }
}
.content {
    @media (min-width: 481px) {
        min-width: 30rem;   
    }
    flex: 1;
    border: 1px solid lightgray;
    padding: 1rem;
    border-radius: 0.5rem;
}