.main-container {
    display: flex;
    gap: 1rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    flex-wrap: wrap;
}

.sidebar {
    padding-right: 1rem;
    flex: 1;
    padding-left: 1rem;
    border: 1px solid lightgray;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    @media (min-width: 768px) {
        max-width: 20rem;
    }
    @media (min-width: 481px) {
        min-height: calc(100vh - 5rem);
    }
    @media (min-width: 300px) {
        min-width: 270px;
    }
}
.content {
    @media (min-width: 481px) {
        min-width: 30rem;   
    }
    flex: 1;
    border: 1px solid lightgray;
    padding: 1rem;
    border-radius: 0.5rem;
}

.container-tabs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    width: 100%;
    &.with-content {
        // border-bottom: 1px solid darkslategrey;
    }
}

.container-content {
    padding-top: 1rem;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    flex-direction: column;

    .fa {
        font-size: 10rem;
    }
}