.component-tab {
    padding: 0.5rem 1rem;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid darkslategrey;

    &.active {
        border: 1px solid darkslategrey;
        border-bottom: none;
        border-top-left-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
    }

    .fa {
        margin-left: 1rem;
    }
}
