$color_primary: darkslategray;
$color_light: #fff;

.links {
  display: flex;
  row-gap: 1rem;
  flex-wrap: wrap;
  li {
    a {
      color: $color_primary;
      border-bottom: 1px solid $color_primary;
      &.active {
        border-top-right-radius: 0.375rem;
        border-top-left-radius: 0.375rem;
        border: 1px solid $color_primary;
        border-bottom: none;
      }
    }
  }
}

.config-tables {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  table,
  th,
  td {
    border: 1px solid $color_primary;
    border-collapse: collapse;
  }
  table {
    flex: 1;
    height: fit-content;
    min-width: 17rem;
    width: 100%;
    input {
      width: 100%;
      border: none;
    }
  }
  thead {
    background-color: $color_primary;
    color: $color_light;
  }
}

.publish-tables {
  padding: 1rem 0;
  table {
    border-collapse: separate;
    border-spacing: 1rem;
  }
}

.switch {
  position: relative;
  display: inline-block;
  margin-top: 0.4rem;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
