$color_primary: darkslategray;
$color_light: #fff;

.links {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  li {
    a {
      color: $color_primary;
      border: 1px solid $color_primary;
      border-radius: 0.25rem;
      &.active {
        background-color: $color_primary;
        color: $color_light;
      }
    }
  }
}

.config-tables {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  table,
  th,
  td {
    border: 1px solid $color_primary;
    border-collapse: collapse;
  }
  table {
    flex: 1;
    height: fit-content;
    min-width: 17rem;
    width: 100%;
    input {
      width: 100%;
      border: none;
    }
  }
  thead {
    background-color: $color_primary;
    color: $color_light;
  }
}

.publish-tables {
  padding: 1rem 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 5px lightgray;
    label:first-child {
      margin-right: 1rem;
      min-width: 5rem;
      margin-top: 0.25rem;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  margin-top: 0.4rem;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $color_primary;
}

input:focus + .slider {
  box-shadow: 0 0 1px $color_primary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
