<h5 class="text-center mb-5 pt-3">Task Details - {{ task.taskName }}</h5>

<ul ngbNav #nav="ngbNav" class="links">
  <li ngbNavItem routerLinkActive="true">
    <a ngbNavLink>View/Update Config</a>
    <ng-template ngbNavContent>
      <div class="config-tables">
        <table>
          <thead>
            <tr>
              <th colspan="2" class="text-center">Task Detail</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Detail 1</td>
              <td><input value="Text" /></td>
            </tr>
            <tr>
              <td>Detail 2</td>
              <td><input value="Text" /></td>
            </tr>
            <tr>
              <td>Detail 3</td>
              <td><input value="Text" /></td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th colspan="2" class="text-center">Config</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Config 1</td>
              <td><input value="Value" /></td>
            </tr>
            <tr>
              <td>Config 2</td>
              <td><input value="Value" /></td>
            </tr>
            <tr>
              <td>Config 3</td>
              <td><input value="Value" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <button class="btn btn-outline-danger mr-2" (click)="cancel()">
        <i class="fa fa-times" aria-hidden="true"></i> Cancel
      </button> -->
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Publish Task</a>
    <ng-template ngbNavContent>
      <div class="publish-tables">
        <table>
          <thead>
            <tr>
              <th>User Name</th>
              <th>Grant Access</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>User1</td>
              <td>
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <td>User 2</td>
              <td>
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <td>User 3</td>
              <td>
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <button class="btn btn-outline-danger mr-2" (click)="cancel()">
        <i class="fa fa-times" aria-hidden="true"></i> Cancel
      </button> -->
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Analyze Task</a>
    <ng-template ngbNavContent>
      <div class="py-3 text-center">--- No Content ----</div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Start Task</a>
    <ng-template ngbNavContent>
      <div class="py-3 text-center">--- No Content ----</div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Full Process Analysis</a>
    <ng-template ngbNavContent>
      <div class="py-3 text-center">--- No Content ----</div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Stop</a>
    <ng-template ngbNavContent>
      <div class="py-3 text-center">--- No Content ----</div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Export to XL</a>
    <ng-template ngbNavContent>
      <div class="py-3 text-center">--- No Content ----</div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

<div class="mt-3">
  <button class="btn btn-success" [disabled]="isLoading">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
    <app-spinner *ngIf="isLoading"></app-spinner> Save
  </button>
  <div class="config-tables">
    <table>
      <thead>
        <tr>
          <th>Column 1</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Activity 1</td>
        </tr>
        <tr>
          <td>Activity 2</td>
        </tr>
        <tr>
          <td>Activity 3</td>
        </tr>
        <tr>
          <td>Pointer to Metrics 100</td>
        </tr>
        <tr>
          <td>Activity 4</td>
        </tr>
        <tr>
          <td>Activity 5</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="mt-1">
  <div class="config-tables">
    <table>
      <thead>
        <tr>
          <th>Metric ID</th>
          <th>Metric 1</th>
          <th>Metric 2</th>
          <th>Metric 3</th>
          <th>Metric 4</th>
          <th>Metric 5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>100</td>
          <td>100</td>
          <td>43</td>
          <td>345</td>
          <td>223</td>
          <td>efgfed</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
